/* pages/index.module.css */
.markdownTable table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 1rem;
}

.markdownTable th,
.markdownTable td {
  border: 1px solid #ccc;
  padding: 6px 10px;
  text-align: left;
}

.markdownTable th {
  background-color: #111;
  color: #fff;
}
